.contact-nav {
  border-bottom: #43a087 5px solid;
}

.contact-section {
  padding: 8rem;
}

.contact-section .heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}

.contact-section .heading::after {
  content: "";
  width: 22rem;
  height: 0.6rem;
  background-color: #43a087;
  position: absolute;
  bottom: -1.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.contact-section .contact-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section .contact-card-wrapper .contact-card {
  width: 22rem;
  height: 50rem;
  background-color: #ebeef8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 2rem;
  text-align: center;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.contact-section .contact-card-wrapper .contact-card .card-img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-section .contact-card-wrapper .contact-card .profile-img {
  height: 12rem;
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 5px #43a087 solid;
  margin-top: -12rem;
  z-index: 2;
}

.contact-section .contact-card-wrapper .contact-card h1 {
  font-size: 1.8rem;
}

.contact-section .contact-card-wrapper .contact-card p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.contact-section .contact-card-wrapper .contact-card .country {
  margin-top: -1rem;
  height: 50px;
}

.contact-section .contact-card-wrapper .contact-card .contact-media {
  height: 50px;
  margin-bottom: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section .contact-card-wrapper .contact-card .contact-media img {
  height: 35px;
  margin: 1rem;
  cursor: pointer;
}

.contact-section .contact-card-wrapper .contact-card .contact-media img:hover {
  height: 40px;
}

.contact-section .contact-card-wrapper .contact-card .job-title {
  font-weight: 400 !important;
}

.contact-section .contact-card-wrapper .contact-card .about {
  font-weight: 600;
}

.contact-section .contact-card-wrapper .contact-card .contact-btn {
  width: 140px;
  height: 40px;
  background-color: #43a087;
  color: #fff;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 5px;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.contact-section .contact-card-wrapper .contact-card .contact-btn:hover {
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  background-color: #06533f;
}

.contact-section a {
  text-decoration: none;
}

.contact-section li {
  list-style: none;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 6vh;
  background: rgba(0, 0, 0, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: white 5px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.fade-in {
  background: black;
  border-bottom: #43a087 5px solid;
}

.nav-link {
  margin: 0 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: #fff;
}

.nav-link:hover {
  color: whitesmoke;
  font-weight: 600;
}

main {
  min-height: 100%;
}

main .up-arrow {
  text-decoration: none;
  margin-bottom: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 50px;
  color: rgba(0, 0, 0, 0.9);
}

main .up-arrow:hover {
  color: #43a087;
}

footer {
  border-top: 5px #43a087 solid;
  height: 180px;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  position: relative;
}

footer .footer-content {
  min-height: calc(180px - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-content .footer-section {
  /*  border: 1px solid white; */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-content .social-media {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content .social-media img {
  height: 30px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-content .social-media img:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  height: 35px;
}

footer .footer-content .about,
footer .footer-content .contact {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

footer .footer-content .about a,
footer .footer-content .contact a {
  text-decoration: none;
  color: white;
}

footer .footer-content .about a:hover,
footer .footer-content .contact a:hover {
  font-weight: 600;
  font-size: 18px;
}

footer p {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  position: absolute;
  height: 40px;
  padding-top: 20px;
  bottom: 0px;
  margin-bottom: 0;
  left: 0px;
  width: 100%;
}

footer a {
  text-decoration: none;
}

#sushi-box {
  height: 500px;
}

.sushi-text {
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 12%;
}

#sushi-body {
  background: #43a087;
  text-align: center;
  margin: 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94vh;
  width: 100%;
}

#wine-body {
  background: #43a087;
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94vh;
  width: 100%;
}

#wine-body i {
  position: absolute;
  top: 87%;
  left: 47%;
  color: #fff;
  -webkit-animation-name: arrow;
          animation-name: arrow;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes arrow {
  from {
    opacity: 0.5;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes arrow {
  from {
    opacity: 0.5;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.container {
  width: 100%;
  margin-top: 5rem;
}

#wine-box {
  height: 500px;
}

.wine-text {
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  position: absolute;
  text-align: center;
  width: 99%;
  top: 15%;
}

#wine-products {
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wine-products .scroll-to-wine {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wine-products .wine-header {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

#wine-products .product-container {
  position: relative;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wine-products .product-container .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px 0;
}

#wine-products .product-container .card:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#wine-products .product-container .card:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

#wine-products .product-container .card:nth-child(even) .contentBx {
  text-align: right;
  right: -25px;
}

#wine-products .product-container .card:nth-child(even) .contentBx .content {
  padding: 20px 100px 20px 60px;
}

#wine-products .product-container .card:nth-child(even) .imgBx {
  left: -25px;
}

#wine-products .product-container .card .imgBx {
  position: relative;
  left: 20px;
  width: 500px;
  height: 400px;
  z-index: 2;
}

#wine-products .product-container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#wine-products .product-container .card .contentBx::before {
  content: "";
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: 0;
  right: 0;
  background: #000;
  z-index: -1;
}

#wine-products .product-container .card .contentBx {
  position: relative;
  right: 25px;
  width: 500px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  opacity: 0.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  text-align: left;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

#wine-products .product-container .card .contentBx:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 1;
}

#wine-products .product-container .card .contentBx .content {
  padding: 20px 60px 20px 100px;
}

#wine-products .product-container .card .contentBx h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 2rem;
}

#wine-products .product-container .card .contentBx p {
  margin-top: 10px;
  color: #fff;
  margin-bottom: 2rem;
}

#wine-products .product-container .card .contentBx a {
  text-decoration: none;
  color: #fff;
  border: 2px #fff solid;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#wine-products .product-container .card .contentBx a:hover {
  padding: 15px 20px;
  background: #43a087;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width: 550px) {
  .wine-text {
    top: 18%;
    font-size: 2.5rem;
  }
}

@media (max-width: 1100px) {
  .product-container .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 350px;
    margin: 20px !important;
    margin-bottom: 80px !important;
  }
  .product-container .card .imgBx {
    height: 250px !important;
    width: 100% !important;
    left: 0 !important;
  }
  .product-container .card .contentBx {
    width: 100% !important;
    height: 400px !important;
    right: 0 !important;
    text-align: center !important;
  }
  .product-container .card .contentBx a {
    position: absolute !important;
    bottom: 0%;
    left: 32%;
  }
  .product-container .card .contentBx .content {
    padding: 30px !important;
  }
  .product-container .card .contentBx::before {
    top: 0 !important;
    left: 0 !important;
  }
}

@media screen and (max-width: 360px) {
  footer .social-media {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  footer img {
    height: 30px !important;
  }
}

@media screen and (min-width: 361px) and (max-width: 767px) {
  footer img {
    height: 20px !important;
  }
}

@media (max-width: 500px) {
  #wine-body i {
    left: 45% !important;
  }
}

@media (min-width: 900px) {
  #wine-body i {
    left: 48% !important;
  }
}

@media (min-width: 1300px) {
  #wine-body i {
    left: 49% !important;
  }
}

@media only screen and (min-width: 350px) and (max-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .nav-link {
    font-size: .9em;
  }
  .container {
    margin-top: 5rem;
  }
  #wine-box {
    height: 200px;
  }
  .wine-text {
    font-size: 2em;
    top: 15%;
  }
  #wine-body i {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  .wine-text,
  .sushi-text {
    font-size: 2em;
  }
}
/*# sourceMappingURL=main.css.map */