@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin easeBtn {
  transition: all 0.3s ease-out;
}

@mixin noEase {
  transition: all 0;
}




// Bodies

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6vh;
  background: rgba(0, 0, 0, .95);
  display: flex;
  align-items: center;
  border-bottom: white 5px solid;
  justify-content: center;
}

.nav-link {
  margin: 0 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: #fff;

  &:hover {
    color: whitesmoke;
    font-weight: 600;
  }
}




main {
  min-height: 100%;

  .up-arrow {
    text-decoration: none;
    margin-bottom: 50px;
    align-self: flex-end;
    margin-right: 50px;
    color: rgba(0, 0, 0, .9);


    &:hover {

      color: #43a087;
    }
  }
}




footer {
  border-top: 5px #43a087 solid;
  height: 180px;
  background: rgba(0, 0, 0, .9);
  width: 100%;
  position: relative;

  .footer-content {
    min-height: calc(180px - 60px);
    display: flex;


    .footer-section {
      /* border: 1px solid white; */
      flex: 1;

      padding: 25px;
      text-align: center;

    }

    .social-media {
      margin: auto;
    }

    .about,
    .contact {
      margin: auto;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
  }


  p {
    color: white;
    background: rgba(0, 0, 0, .2);
    text-align: center;
    position: absolute;
    height: 40px;
    padding-top: 20px;
    bottom: 0px;
    margin-bottom: 0;
    left: 0px;
    width: 100%;

  }

  a {
    text-decoration: none;
  }

  img {
    height: 30px;
    margin-right: 10px;
    transition: all 0.3s ease;

    &:hover {
      transition: all 0.1s ease;
      height: 35px;

    }
  }
}

// Sushi products

#sushi-box {
  height: 500px;
}

.sushi-text {
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 12%;
}

#sushi-body {
  background: #43a087;
  text-align: center;
  margin: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 94vh;
  margin-top: 6vh;
  width: 100%;
}



#wine-body {
  background: #43a087;
  text-align: center;
  margin: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 94vh;
  width: 100%;
  margin-top: 6vh;

  i {
    position: absolute;
    top: 90%;
    left: 50%;
    color: #fff;
    animation-name: arrow;
    animation-duration: 1.7s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

  }
}


@keyframes arrow {
  from {
    opacity: 0.5;
    transform: translateY(-40px)
  }

  to {
    opacity: 1;
    transform: translateY(10px)
  }
}


// Wine products

.container {
  width: 100%;
  margin-top: 5rem;
}

#wine-box {
  height: 500px;
}


.wine-text {
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 15%;
}




// Wine card

#wine-products {
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .scroll-to-wine {
    transition: all 0.5s ease;
  }

  .wine-header {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
  }

  .product-container {
    position: relative;
    max-width: 1000px;
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    .card {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 100px 0;

      &:nth-child(odd) {
        flex-direction: row;
      }



      &:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;



        .contentBx {
          text-align: right;
          right: -25px;

          .content {
            padding: 20px 100px 20px 60px;
          }
        }

        .imgBx {
          left: -25px;
        }
      }

      .imgBx {
        position: relative;
        left: 20px;
        width: 500px;
        height: 400px;
        z-index: 2;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .contentBx::before {
        content: "";
        position: absolute;
        top: -50px;
        bottom: -50px;
        left: 0;
        right: 0;
        background: #000;
        z-index: -1;
      }

      .contentBx {
        position: relative;
        right: 25px;
        width: 500px;
        height: 400px;
        display: flex;
        background: #000;
        opacity: 0.9;
        align-items: center;
        justify-content: center;
        z-index: 1;
        text-align: left;
        transition: opacity 0.5s ease-out;

        &:hover {
          @include easeOut();
          opacity: 1;
        }

        .content {
          padding: 20px 60px 20px 100px;
        }

        h2 {
          font-size: 30px;
          color: #fff;
          margin-bottom: 2rem;
        }

        p {
          margin-top: 10px;
          color: #fff;
          margin-bottom: 2rem;
        }

        a {
          text-decoration: none;
          color: #fff;
          border: 2px #fff solid;
          padding: 10px 15px;
          @include easeBtn();

          &:hover {
            padding: 15px 20px;
            background: #43a087;
            @include easeBtn();
          }
        }
      }
    }
  }
}



@media (max-width: 550px) {
  .wine-text {
    top: 18%;
    font-size: 2.5rem;
  }
}



@media (max-width: 1100px) {
  .product-container {
    .card {
      flex-direction: column;
      max-width: 350px;
      margin: 20px !important;
      margin-bottom: 80px !important;


      .imgBx {
        height: 250px !important;
        width: 100% !important;
        left: 0 !important;
      }

      .contentBx {
        width: 100% !important;
        height: 400px !important;
        right: 0 !important;
        text-align: center !important;

        a {
          position: absolute !important;
          bottom: 0%;
          left: 32%;

        }

        .content {
          padding: 30px !important;

        }

        &::before {
          top: 0 !important;
          left: 0 !important;

        }
      }


    }
  }
}